a{
    display: flex;
    flex-direction: row;
    padding: 6px 0;
    font-family: 'Poppins', sans-serif;
    color: #0F1419;
    font-style: normal;
    font-weight: 400px;
    font-size: 20px;
    text-decoration: none;
    width: 100%;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
a:hover .Left_comps{
    background-color: rgb(220, 222, 225);
}
a:active {
    text-decoration: none;
}
.Left_comps{
    width: auto;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px; 
    transition: .1s;
}
.Left_comps img{
    padding: 10px 20px;
    padding-left: 10px;
}
.Left_comps span{
    height: 25px;
    width: auto;
}